<h1>Stupid Coach</h1>

<p>You</p>

<form action="/answer" method="get">
  <input type="text" name="question" placeholder="">
  <input class="btn btn-primary btn-lg" type="submit" value="Ask!">
</form>

